<h1>
  <%= @article.title %>
  <%= link_to edit_article_path(@article) do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  <% end %>
  <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do%>
    <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
</h1>
<p><%= @article.content %></p>
<hr>
<%= link_to "back to all", articles_path %>
